.margin {
    font-size: map-get($fontFactors, p) * 0.85;
    @media print {
        font-size: map-get($fontSizesPrint, p) * 0.85;
    }

    h1, h2, h3, h4,
    ol,
    p,
    td,
    th,
    ul {
        font-size: map-get($fontFactors, p) * 0.85;
        @media print {
            font-size: map-get($fontSizesPrint, p) * 0.85;
        }
    }
}
